:root {
    --cor-de-fundo:#0ca6ac;
    --verde:#00eeff;
    --branco:#FFFFFF;
    --botao-ativo:#3A375E;
    --botao-inativo: rgba(58,55,94,0.5);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}